<div class="row">	
	<div class="col-xs-12">
		<h3 class="welcome-title"> Bienvenue à la Forge !</h3>
	</div>

	<div class="col-xs-12 col-md-5 Armes">
		<%= link_to "Creer une arme", new_arme_path, :class => "btn btn-create center-block" %>
		<div class="row">
			<div class="col-xs-12">
				<% @armes.each do |arme| %>
				<div class="well row">
					<div class="col-xs-4"> 
						<h4><%= arme.nom %></h4>
						<h5> Attaque  <%= arme.attq %></h5>
						<h5> Parade  <%= arme.parade %></h5>
						<h5> Vitesse  <%= arme.vit %></h5>
						<h5> Critiques  <%= arme.crit %></h5>
					</div>
					<div class="col-xs-8">
						<% @avatar = Avatar.find_by_id(arme.avatar_id) %>
						<%= image_tag(@avatar.img_path, class: "menu_icon img-armes") %>
					</div>
					<div class="col-xs-12">
						<%= link_to "Inspecter", arme_path(arme), :class => "btn btn-default center-block" %>
					</div>
				</div>
				<%end%>
			</div>
			
		</div>
	</div>

	<div class="col-xs-12 col-md-offset-2 col-md-5 Armures">
		<%= link_to "Creer une armure", new_armure_path, :class => "btn btn-create center-block" %>
		<div class="row">
			<div class="col-xs-12">
				<% @armures.each do |armure| %>
				<div class="well row">
					<div class="col-xs-4"> 
						<h4><%= armure.nom %></h4>
						<h5> Armure  <%= armure.armor %></h5>
						<h5> Parade  <%= armure.parade %></h5>
						<h5> Vitesse  <%= armure.vit %></h5>
					</div>
					<div class="col-xs-8">
						<% @avatar = Avatar.find_by_id(armure.avatar_id) %>
						<%= image_tag(@avatar.img_path, class: "menu_icon img-armes") %>
					</div>
					<div class="col-xs-12">
						<%= link_to "Inspecter", armure_path(armure), :class => "btn btn-default center-block" %>
					</div>
				</div>
				<%end%>
			</div>
			
		</div>
	</div>

</div>
