<h1> Modifier un Personnage </h1>

<%= form_for :arme, url: arme_path(@arme), method: :patch do |f| %>
		<% if @arme.errors.any? %>
			<% @arme.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
		<% end %>
	<p>
		<%= f.label :nom %><br>
		<%= f.text_field(:nom, {:class => 'form-control'}) %> 
	</p>

	<p style="display: inline;">
		<%= f.label("Attaque : 	", {:style => "display: inline"})  %><div class="ranger-value" id="showAttq"></div><br>
		<%= f.range_field :attq, :min=>0, :max=>200, :class=>"slide", :id=>"attq"%>
	</p>

	<p style="display: inline;">
		<%= f.label("Parade : 	", {:style => "display: inline"})  %><div class="ranger-value" id="showParade"></div><br>
		<%= f.range_field :parade, :min=>0, :max=>200, :class=>"slide", :id=>"parade"%>
	</p>

	<p style="display: inline;">
		<%= f.label("Vitesse: 	", {:style => "display: inline"})  %><div class="ranger-value" id="showVit"></div><br>
		<%= f.range_field :vit, :min=>-100, :max=>100, :class=>"slide", :id=>"vit"%>
	</p>

	<p style="display: inline;">
		<%= f.label("Critiques: 	", {:style => "display: inline"})  %><div class="ranger-value" id="showCrit"></div><br>
		<%= f.range_field :crit, :min=>0, :max=>100, :class=>"slide", :id=>"crit"%>
	</p>

	<p>
	    <%= fields_for :avatar do |field| %>
	        <%= field.label "Url de l'image" %>
	        <%= field.text_field(:img_path, {:class => 'form-control'})  %>
	    <% end %>
   	</p>

	<p>
		<%= f.submit({:class => "btn btn-primary"}) %>
	</p>
<% end %>


<script type="text/javascript">

	$( document ).ready(function() {
	    $( "#showAttq" ).html($( "#attq" ).val());
	    $( "#showParade" ).html($( "#parade" ).val());
	     $( "#showVit" ).html($( "#vit" ).val());
	      $( "#showCrit" ).html($( "#crit" ).val());
	});


	$( "#attq" ).change(function() {
	  $( "#showAttq" ).html($( "#attq" ).val())
	});

	$( "#parade" ).change(function() {
	  $( "#showParade" ).html($( "#parade" ).val())
	});

	$( "#vit" ).change(function() {
	  $( "#showVit" ).html($( "#vit" ).val())
	});

	$( "#crit" ).change(function() {
	  $( "#showCrit" ).html($( "#crit" ).val())
	});
</script>