<h1> Modifier un Personnage </h1>

<%= form_for :perso, url: perso_path(@perso), method: :patch do |f| %>
		<% if @perso.errors.any? %>
			<% @perso.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
		<% end %>
	<p>
		<%= f.label :nom %><br>
		<%= f.text_field(:nom, {:class => 'form-control'}) %> 
	</p>

	<p>
		<%= f.label :surnom %><br>
		<%= f.text_field(:surnom, {:class => 'form-control'}) %> 
	</p>

	<p>
	    <%= fields_for :avatar do |field| %>
	        <%= field.label "Url de l'image" %>
	        <%= field.text_field(:img_path, {:value => @avatar.img_path, :class => 'form-control'})  %>
	    <% end %>
   	</p>

	<p>
		<%= f.submit({:class => "btn btn-primary"}) %>
	</p>
<% end %>