<!DOCTYPE html>
<html>
  <head>
    <title>CaptainCoding</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
  <%= link_to  "Arena" do %>
    <%= image_tag( "VS.png", class: "Versus") %>
  <% end %>
     <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 20px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Captain Clash Challenge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li> <%= link_to "Arena", home_path %> </li>
            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Forge", forges_path %> </li>
            <li> <%= link_to "Mes Perso", persos_path %> </li>
            <li> <%= link_to "Creer un Perso", new_perso_path %> </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div style="height: 75px;"></div>
    <div class="container">
    <%= yield %>
    </div>

<script type="text/javascript">
  $( window ).resize(function() {
    $('.Versus').css({
       'left' : ( $(window).width()- ($('.Versus').width()/2))/2
    });
});



$(function() {
    $('.Versus').css({
        'position' : 'fixed',
        'width' : '100px',
        'left' : ( $(window).width()- ($('.Versus').width()/2))/2,
        'z-index': '2000',
        'margin-left' : '0'     
    });
});

$(function() {
    $( ".Versus" ).toggle( "puff" ).toggle( "shake" );
    setTimeout(function(){
      $( ".Versus" ).effect( "shake" );
    }, 2000);
    
});

</script>
  </body>
</html>
